eShopClient/eShopClient/Service References/eShopServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/eShopService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/eShopService.Data" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/eShopService/Service1/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseToLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseToLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseToLogout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseToLogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountBalance" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUsernameAvailabilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIdAvailability">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIdAvailabilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseToSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponseToSignUpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsernameAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsernameAvailabilityResponseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IdAvailabilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="response" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IdAvailabilityResponseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
        <xs:element minOccurs="0" name="businessName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignUpBusinessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBusinessIdAvalibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBusinessIdAvalibilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBusinessIdAvalibilityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="fName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountBalance" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfCustomerGotBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfCustomerGotBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfCustomerGotBusinessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerIdFromUsername">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOwnerIdFromUsernameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOwnerIdFromUsernameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="GetBusinessInformationResult" nillable="true" type="q1:BusinessData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBusinessInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
        <xs:element minOccurs="0" name="businessName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBusinessInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="GetBusinessProductsResult" nillable="true" type="q2:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductForBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productPrice" type="xs:float" />
        <xs:element minOccurs="0" name="productKeys" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductForBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductForBusinessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductForBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductForBusinessResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="productName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productPrice" type="xs:float" />
        <xs:element minOccurs="0" name="productKeys" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inRange" type="xs:boolean" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="SearchByProductResult" nillable="true" type="q3:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="inRange" type="xs:boolean" />
        <xs:element minOccurs="0" name="from" type="xs:int" />
        <xs:element minOccurs="0" name="to" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchByBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="SearchByBusinessResult" nillable="true" type="q4:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBalanceBeforePurchase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartCost" type="xs:int" />
        <xs:element minOccurs="0" name="buyerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckBalanceBeforePurchaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckBalanceBeforePurchaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="cartList" nillable="true" type="q5:ArrayOfProductData" />
        <xs:element minOccurs="0" name="buyerId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="itemsTotalPrice" nillable="true" type="q6:ArrayOffloat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuyCartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCartItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="cartList" nillable="true" type="q7:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateCartItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateCartItemsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedCartList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="oldCartList" nillable="true" type="q8:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdatedCartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="GetUpdatedCartListResult" nillable="true" type="q9:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ownerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="GetTransactionDataResult" nillable="true" type="q10:ArrayOfTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/eShopService.Data" minOccurs="0" name="GetCustomerInformationResult" nillable="true" type="q11:CustomerData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>